@*@model UserRoleViewModel

<div id="user-role" class=" dark-theme">
    <label for="role">User role</label>
    @if (Model.IsAdmin)
    {
        <div class="row">
            <div class="col-lg-10">

                <input id="role" type="text" class="form-control" value="Administrator" disabled>
            </div>
            <div class="col-lg-2" style="padding-top:5px">
                <a class="page-link"
                   asp-area="Administration" asp-controller="User" asp-action="Demote" asp-route-id="@Model.Id" method="get"
                   data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#user-role">Demote</a>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-10">
                <input id="role" type="text" class="form-control" value="Standard User" disabled>
            </div>
            <div class="col-lg-2" style="padding-top:5px">
                <a class="page-link"
                   asp-area="Administration" asp-controller="User" asp-action="Promote" asp-route-id="@Model.Id" method="get"
                   data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#user-role">Promote</a>
            </div>
        </div>
    }
</div>*@