@using SD.Web.Areas.UserRegular.Models

@{
    ViewData["Title"] = "Index";
}

<h2>Public sensors</h2>
<hr />
<div id="map" style="height: 350px; width: auto"></div>
@(Html.Kendo().Grid<UserSensorViewModel>()
                                        .Name("publicSensors")
                                        .Columns(columns =>
                                        {
                                            columns.Bound(c => c.Name).Width(140);
                                            columns.Bound(c => c.Description).Width(190);
                                            columns.Bound(c => c.Type).Width(190);
                                            columns.Bound(c => c.LastValueUser).Width(110);
                                            columns.Bound(p => p.Id).ClientTemplate(
                                                        "<button type=\"submit\" class=\"btn btn-success\"><a href='" + "sensor?id=#= Id #'" +
                                                        ">Sensor Details</a></button>").Title("Details").Sortable(false).Filterable(false).Width(150);
                                        })
                                                                                        .HtmlAttributes(new { style = "height: 380px;" })
                                                                                        .Scrollable()
                                                                                        .Groupable()
                                                                                        .Sortable()
                                                                                        .Filterable()
                                                                                        .Pageable(pageable => pageable
                                                                                            .Refresh(true)
                                                                                            .PageSizes(true)
                                                                                            .ButtonCount(5))
                                                                                        .DataSource(dataSource => dataSource
                                                                                            .Ajax()
                                                                                            .Read(read => read.Action("Get_Sensors", "Home"))
                                                                                        )

)


<style>
        #gauge-container {
            background: transparent;
            width: 386px;
            height: 386px;
            text-align: center;
            margin: 0 auto 30px auto;
        }

        #gauge {
            width: 350px;
            height: 300px;
            margin: 0 auto;
            border-color: transparent;
        }

        #gauge-container .k-slider {
            margin-top: -11px;
            width: 140px;
        }
</style>

<script>
    $(document).ready(function () {

        let locations = [];
        let markers = [];
        initGoogleMaps();

        function initGoogleMaps() {
            
            var mapOptions = {
                zoom: 8,
                center: new google.maps.LatLng(42.674107, 23.330281),
                scrollwheel: false, 
                styles: [{
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#1d2c4d"
                    }]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#8ec3b9"
                    }]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [{
                        "color": "#1a3646"
                    }]
                },
                {
                    "featureType": "administrative.country",
                    "elementType": "geometry.stroke",
                    "stylers": [{
                        "color": "#4b6878"
                    }]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#64779e"
                    }]
                },
                {
                    "featureType": "administrative.province",
                    "elementType": "geometry.stroke",
                    "stylers": [{
                        "color": "#4b6878"
                    }]
                },
                {
                    "featureType": "landscape.man_made",
                    "elementType": "geometry.stroke",
                    "stylers": [{
                        "color": "#334e87"
                    }]
                },
                {
                    "featureType": "landscape.natural",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#023e58"
                    }]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#283d6a"
                    }]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#6f9ba5"
                    }]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.stroke",
                    "stylers": [{
                        "color": "#1d2c4d"
                    }]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#023e58"
                    }]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#3C7680"
                    }]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#304a7d"
                    }]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#98a5be"
                    }]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.stroke",
                    "stylers": [{
                        "color": "#1d2c4d"
                    }]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#2c6675"
                    }]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#9d2a80"
                    }]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [{
                        "color": "#9d2a80"
                    }]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#b0d5ce"
                    }]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels.text.stroke",
                    "stylers": [{
                        "color": "#023e58"
                    }]
                },
                {
                    "featureType": "transit",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#98a5be"
                    }]
                },
                {
                    "featureType": "transit",
                    "elementType": "labels.text.stroke",
                    "stylers": [{
                        "color": "#1d2c4d"
                    }]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#283d6a"
                    }]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#3a4762"
                    }]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#0e1626"
                    }]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#4e6d70"
                    }]
                }
                ]
            };

            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
           
            $("#publicSensors").data("kendoGrid").bind('dataBound', function () {
                locations = [];
                this._data.forEach((sensor) => {
                    locations.push({
                        Name: sensor.Name,
                        Lat: sensor.Coordinates.split(",")[0],
                        Lng: sensor.Coordinates.split(",")[1],
                    })
                }); 
                console.log(locations)
                
                updateMarkers();
            });

            function resetMarkers(markers) {
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(null);
                };
            }
            function updateMarkers() {
                resetMarkers(markers);
                for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i].Lat, locations[i].Lng),
                        map: map,
                        title: locations[i].Name
                    });

                    markers.push(marker);
                };

                
            }
            
        }

    });


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoiGMouNF91fR1CfBO3iqfBxR-raPW7WM"></script>


<div class="clearfix"></div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

}