@using SD.Web.Areas.UserRegular.Models

@{
    ViewData["Title"] = "ChooseDataSourse";
}

<h2>From the table below you can select which sensor you want to register</h2>
<hr />

@(Html.Kendo().Grid<SensorAPIViewModel>()
                                .Name("apiGrid")
                                .Columns(columns =>
                                {
                                    columns.Bound(c => c.Tag).Width(140);
                                    columns.Bound(c => c.Description).Width(190);
                                    columns.Bound(c => c.MeasureType).Width(190);
                                    columns.Bound(c => c.MinPollingIntervalInSeconds).Width(110);
                                    columns.Bound(c => c.Id).ClientTemplate(
                                            "<button type=\"submit\" class=\"btn btn-success\"><a href='" + "register-sensor?id=#= Id #'" +
                                            ">Register</a></button>").Title("  ").Sortable(false).Filterable(false).Width(150);
                                }) .Scrollable()
                                   .Groupable()
                                   .Sortable()
                                   .Filterable()
                                   .Pageable(pageable => pageable
                                       .Refresh(true)
                                       .PageSizes(true)
                                       .ButtonCount(5))
                                   .DataSource(dataSource => dataSource
                                       .Ajax()
                                       .Read(read => read.Action("Get_Api_Sensors", "dashboard"))
                                   )
)

<div class="clearfix"></div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


