@using Microsoft.AspNetCore.Identity;

@model NotificationsViewModel

<li class="dropdown nav-item" id="container">
	<a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
		<i class="tim-icons icon-sound-wave"><span class="badge badge-light badge-pill" id="notificationsCount">@Model.NotificationsViewModels.Count()</span></i>
		<p class="d-lg-none">
			Notifications
		</p>
	</a>
	<ul class="dropdown-menu dropdown-menu-right dropdown-navbar" id="notificationsList">
		<li class="button-dropdown" onclick="RemoveAllNotifications()">
			Clear All	
		</li>
		@foreach (var notification in Model.NotificationsViewModels)
		{
			<li class="nav-link">
				<nav-item dropdown-item>@notification.Message</nav-item>
			</li>
		}
	</ul>
</li>

<script>
	function RemoveAllNotifications()
	{
		var container = $("#container");
		$.get("Notification/ReadUnreadAsync", function (data) { container.html(data); });
	}
	
</script>

