@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Mvc;

@model NotificationsViewModel

<li class="dropdown nav-item">
	<a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
		<i class="tim-icons icon-sound-wave"><span class="badge badge-light badge-pill" id="notificationsCount">@Model.NotificationsViewModels.Count()</span></i>
		<p class="d-lg-none">
			Notifications
		</p>
	</a>
	<ul class="dropdown-menu dropdown-menu-right dropdown-navbar" id="notificationsList">
		<li class="nav-link">
			<a asp-area="UserRegular" asp-controller="Notification" asp-action="ReadUnread" asp-route-returnUrl=@Context.Request.Path class="nav-item dropdown-item">Remove All</a>

		</li>
		@foreach (var notification in Model.NotificationsViewModels)
		{
			<li class="nav-link">
				<nav-item dropdown-item>@notification.Message</nav-item>
			</li>
		}
	</ul>
</li>

