<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="76x76" href="~/theme/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="~/theme/assets/img/favicon.png">
	<title>
		Smart Dorm
	</title>

	<!-- jQuery -->
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<!-- kendo js scripts -->
	<script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
	<script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
	<!-- Fonts and icons -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

	<!-- Theme -->
	<link href="~/theme/css/nucleo-icons.css" rel="stylesheet" />
	<link href="~/theme/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />

	<!-- CSS Custom -->
	<link href="~/lib/pagination/simplePagination.css" rel="stylesheet" />
	<link href="~/css/selector.css" rel="stylesheet" />
	<link href="~/css/image-effects.css" rel="stylesheet" />

	<!-- Kendo Custom -->
	<link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common-nova.min.css" />
	<link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.nova.min.css" />

	<!-- Gauge Visualization -->
	<link rel="stylesheet" href="~/css/stateindicator.css" />
	<link rel="stylesheet" href="~/css/gauge.css" />
</head>