<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("_HeadPartial")
<body class="" data-color="blue">
    <div class="wrapper">
            @await Html.PartialAsync("_NavigationLeftPartial")
        <div class="main-panel">
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle d-inline">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            @RenderSection("Search", required: false)
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                            {
                                <li class="dropdown nav-item">
                                    <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                        <div class="notification d-none d-lg-block d-xl-block"></div>
                                        <i class="tim-icons icon-link-72"></i>
                                        <p class="d-lg-none">
                                            Administration
                                        </p>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                                        <li class="nav-link">
                                            <a asp-area="Administration" asp-controller="User" asp-action="Index" class="nav-item dropdown-item">User Administration</a>
                                        </li>
                                        <li class="nav-link">
                                            <a asp-area="Administration" asp-controller="Sensor" asp-action="Index" class="nav-item dropdown-item">Sensor Administration</a>
                                        </li>
                                    </ul>
                                </li>
                            }

                            @if (User.Identity.IsAuthenticated)
                            {
                                @await Component.InvokeAsync("Notifications")
                            }
                            <li class="dropdown nav-item">
                                @await Html.PartialAsync("_LoginPartial")
                            </li>
                            <li class="separator d-lg-none"></li>
                        </ul>

                    </div>
                </div>
            </nav>
            <div class="content">

                @RenderBody()
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ScriptsPartial")
    @RenderSection("Scripts", required: false)


</body>
</html>