#gauge-container {
	background: transparent;
	background-color: aliceblue;
	width: 386px;
	height: 386px;
	text-align: center;
	margin: 0 auto 30px auto;
}

#gauge {
	color: ivory;
	width: 350px;
	height: 300px;
	margin: 0 auto;
}
